body {
	height:824px;
	width: 1612px;
}
.panel {
	margin:0px;
	border:3px solid;
	border-color:#ccc;
	border-radius:5px;
	width:630px;
	height:240px;
}
.bigpanel {
	margin:0px;
	border:3px solid;
	border-color:#ccc;
	border-radius:5px;
	width:630px;
	height:807px;
	overflow-y: scroll;
}
.shortbox {
	margin:0px;
	border:3px solid;
	border-color:#ccc;
	border-radius:5px;
	background-color:#ddb;
	width:325px;
	height:24px;
}
.infobox {
	margin:0px;
	border:3px solid;
	border-color:#ccc;
	border-radius:5px;
	background-color:#ddb;
	width:325px;
	height:758px;
}
.tabbar {
	margin:0px;
	border:none;
	width:630px;
	height:47px;
}
.tab {
	float:left;
}
.hp {
	height:50%;
	width:300px;
	padding: 0px 7px;
}
.left {
	float:left;
}
.right {
	float:right;
}
table {
	border-spacing: 0;
	table-layout: fixed;
}
td {
	padding: 0px;
}
.activated {
	background-color:#afa;
}
.creatureDiv {
	background-color:#fff;
}
.creatureDiv:hover {
	background-color:#ff9;
}
.creatureDiv.selected {
	background-color:#cff;
}
.creatureDiv.selected:hover {
	background-color:#cf9;
}
.pathtile {
	position: absolute;
	outline: 1px solid gray;
}
.pathtile:hover {
	z-index: 1;
}
.pathtile#f:hover {
	outline: 2px solid green;
}
.pathtile#w:hover {
	outline: 2px solid red;
}