body {
	height: 900px;
	width: 1200px;
}
.screen {
	margin: 0px;
	height: 900px;
	width: 1200px;
	display: none;
}
.panel {
	margin: 0px;
	width: 1194px;
	border: 3px solid;
	border-color: #ccc;
	border-radius: 5px;
}
.hp {
	height:50%;
	width:400px;
}
.left {
	float:left;
}
.right {
	float:right;
}
table {
	border-spacing: 0;
	table-layout: fixed;
}
td {
	padding: 0px;
}